<mat-card class="content-card" *ngIf="studiengaenge">
    <div class="horizontal-align">
        <mat-card-title>Übersicht der Studiengänge</mat-card-title>
        <button
            *ngIf="loggedIn"
            mat-raised-button
            class="pos-right"
            color="accent"
            routerLink="/studiengang/neu">
            Studiengang hinzufügen
        </button>
    </div>
    <mat-card-content>
        <mat-table #table [dataSource]="studiengaenge">
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef>Titel</mat-header-cell>
                <mat-cell *matCellDef="let studiengang">{{
                    studiengang.name
                }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="degree">
                <mat-header-cell *matHeaderCellDef
                    >Abschlussart</mat-header-cell
                >
                <mat-cell *matCellDef="let studiengang">{{
                    studiengang.degreeName
                }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef>Startdatum</mat-header-cell>
                <mat-cell *matCellDef="let studiengang">{{
                    studiengang.startDate | date : 'dd.MM.yyyy'
                }}</mat-cell>
            </ng-container>

            <ng-container *ngIf="loggedIn" matColumnDef="active">
                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                <mat-cell *matCellDef="let studiengang">
                    <span *ngIf="studiengang.activated" class="status-active"
                        >aktiv</span
                    >
                    <span *ngIf="!studiengang.activated" class="status-inactive"
                        >inaktiv</span
                    >
                </mat-cell>
            </ng-container>

            <ng-container *ngIf="loggedIn" matColumnDef="link">
                <mat-header-cell *matHeaderCellDef>Bearbeiten</mat-header-cell>
                <mat-cell *matCellDef="let studiengang">
                    <a routerLink="/studiengang/{{ studiengang.id }}">
                        <mat-icon color="accent">edit</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>

            <ng-container *ngIf="!loggedIn" matColumnDef="link">
                <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
                <mat-cell *matCellDef="let studiengang">
                    <a routerLink="/studiengang/{{ studiengang.id }}">
                        <mat-icon color="accent">open_in_new</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>

            <mat-header-row
                *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>
