.criteria-button {
    margin-left: auto;
    width: fit-content;
    height: fit-content;
}

.critera-form {
    width: 775px !important;
}

.submit-button {
    margin-top: 16px;
}

h2 {
    margin-bottom: 0;
}

mat-icon {
    margin-right: 8px;
}

mat-list mat-list-item {
    height: 30px;
}