/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-card {
    margin: 16px auto 16px auto;
    width: 50%;
}

.status-active {
    padding: 2px 4px 2px 4px;
    background-color: green;
    border-radius: 4px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.status-inactive {
    padding: 2px 4px 2px 4px;
    background-color: red;
    border-radius: 4px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.vertical-align {
    display: grid;
}

.horizontal-align {
    display: inline-flex;
}

.full-width {
    width: 100%;
}

.pos-right {
    margin: 0 0 0 auto;
}