<mat-card class="content-card" *ngIf="studiengang">
    <mat-card-title
        >Bewerbung für Studiengang "{{ studiengang.name }}"</mat-card-title
    >
    <form [formGroup]="formGroup" class="vertical-align">
        <mat-form-field color="accent">
            <mat-label>Vorname</mat-label>
            <input matInput required formControlName="applicantFirstName" />
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-label>Nachname</mat-label>
            <input matInput required formControlName="applicantLastName" />
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-label>E-Mail</mat-label>
            <input matInput required formControlName="applicantMail" />
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-label>Telefonnummer</mat-label>
            <input matInput required formControlName="applicantTelNo" />
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-label>Anschreiben</mat-label>
            <textarea matInput formControlName="applicantLetter"></textarea>
        </mat-form-field>
    </form>

    <input
        type="file"
        class="file-input"
        (change)="onFilesSelected($event)"
        #fileUpload
        multiple />
    <div class="file-upload">
        <button
            mat-mini-fab
            color="accent"
            class="upload-btn"
            (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
        {{
            uploadedFileNames || 'Aktuell sind noch keine Dateien hochgeladen.'
        }}
    </div>
    <button
        mat-raised-button
        color="primary"
        class="submit-btn"
        [disabled]="!buttonActivated"
        (click)="sendBewerbung()">
        Bewerbung abschicken
    </button>
</mat-card>
